body {
  background-image: url("wallpaper1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; /* Kolor tekstu na tle ciemnym */
}
#login-container {
  text-align: center;
  margin-top: 200px;
}

#login-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: #fff;
}

#login-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

header {
  background-color: #f00; /* Czerwone tło paska nawigacyjnego */
  padding: 12px;
}

nav {
  display: flex;
  justify-content: center; /* Wyśrodkowanie elementów wzdłuż osi poziomej */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff; /* Kolor linków na tle czerwonym */
  padding: 5px 10px;
  border: 1px solid #fff; /* Ramka linków na tle czerwonym */
}
.container {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.previous-winners {
  border: 1px solid #fff;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 0;
  align-items: left;
}

.table-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

table {
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #fff;
}

.roulette {
  margin-top: 20px;
  text-align: center;
}

.roulette button {
  padding: 10px 20px;
  background-color: #f00;
  color: #fff;
  border: none;
  cursor: pointer;
}
.roulette-container {
  text-align: center;
}

.roulette-wheel {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}


#spin-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f00;
  color: #fff;
  border: none;
  cursor: pointer;
}



